*{
    /* This is to cancel out browser style sheets */
    padding: 0;
    margin: 0;
}

html{
    /* fixes an old IE bug in font size processing */
    font-size: 100%;
}

body{
    background-color: #A0522D;
    color: #FFDEAD;
}

/*.headStuck{
    position: fixed;
}*/

a:link {
    color:#FFFFE0;
}

a:visited {
    color:#FFA07A;
}

.container{
    width: 80%;
}

.padded{
    padding: 5px;
}

.artImpact{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 125%;
    width: 70%;
    border: 2px;
    border-radius: 4px;
    background-color: #dda388;
    color: #995c00;
}

.flyIn{
    width: 20%;
    background-color: #efd2c3;
    -webkit-animation:  flyIn 3s; /* Chrome, Safari, Opera */
    animation: flyIn 3s;
}
@-webkit-keyframes flyIn {
    0%    {left: 0px;}
    100%  {left: 50px;}
}
@keyframes flyIn {
  0%    {left: 0px;}
  100%  {left: 50px;}
}

.asideRef{
    padding-top: : 20px;
    width: 20%;
    float: right;
    align-self: flex-start;
    align-content: center;
    font-family: Geneva;
    font-size: 90%;
    border: 4px;
    color: black;
    border-radius: 2px;
    box-shadow: 5px 5px 15px #888888;
}

.mainContentHolder{
    background-color: inherit;
    width: 80%;
    margin: auto;
}
.mainContent{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.mainPs{
    padding: 5px;
}

.para1{
    padding: 5px;
    width: 75%;
    float: left;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: lighter;
    font-size: 80%;
    box-shadow: 20px 20px 30px 20px #3c1f10;

}

.para2{
  padding-top: 200px;
  padding-left: 5px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-weight: bold;
  color: #1a0f00;
  text-shadow: 1px 1px #663d00;
}

.para3{
  padding: 5px;
}

.para4{
  padding: 5px;

}

.para5{
  padding: 5px;
}

.para6{
  padding: 5px;
}

footer{
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#headerPic{
    margin-top: 30px;
    width: 100%;
}

#footer-left{
    float: left;
    text-align: left;
}

#footer-right{
    float: right;
    text-align: right;
}

#footer-center{
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}
